{{!log "adversaire" this}}
<section class="adversaire-main standard-form">
    <!-- Personnage -->
    {{> "systems/penombre/templates/adversaire/partials/personnage.hbs" }}

    <!-- Détails -->
    <details>
    <summary><i class="fas fa-comment-pen"></i></summary>
        {{formInput systemFields.details enriched=enrichedDescription value=system.details name="system.details" toggled=true}}
    </details>

    <!-- Actions -->
    {{> "systems/penombre/templates/adversaire/partials/actions.hbs" }}

    <!-- Intrigues -->
    {{> "systems/penombre/templates/adversaire/partials/intrigues.hbs" }}
</section>