{{!log "adversaire" this}}
<section class="adversaire-main standard-form">
    <div class="adversaire-titre"><br><h4>{{ localize 'PENOMBRE.Feuille.adversaire' }}</h4></div>

    <!-- Personnage -->
    {{> "systems/penombre/templates/adversaire/partials/personnage.hbs" }}

    <!-- Actions -->
    {{> "systems/penombre/templates/adversaire/partials/actions.hbs" }}

    <!-- Intrigues -->
    {{> "systems/penombre/templates/adversaire/partials/intrigues.hbs" }}
 
</section>