{{!log "adversaire" this}}
<section class="adversaire-main standard-form">
    <!-- Personnage -->
    {{> "systems/penombre/templates/adversaire/partials/personnage.hbs" }}

    <!-- Actions -->
    {{> "systems/penombre/templates/adversaire/partials/actions.hbs" }}

    <!-- Intrigues -->
    {{> "systems/penombre/templates/adversaire/partials/intrigues.hbs" }}
</section>