penombre-toggle-switch {
  --toggle-switch-height: 20px;
  --toggle-switch-width: 36px;
  --toggle-switch-padding: 3px;
  --toggle-switch-track-color-unchecked: black;
  --toggle-switch-track-color-checked: #3ba55d;
  --toggle-switch-thumb-color: white;
  --toggle-switch-thumb-width: calc(var(--toggle-switch-height) - var(--toggle-switch-padding) * 2);
  --toggle-switch-thumb-height: var(--toggle-switch-thumb-width);
  --toggle-switch-transition-time: 250ms;
  cursor: var(--cursor-pointer) !important;
  display: inline-block;
  width: var(--toggle-switch-width);
  height: var(--toggle-switch-height);
}
penombre-toggle-switch track {
  background: var(--toggle-switch-track-color-unchecked);
  border-radius: calc((var(--toggle-switch-height) * 2) / 3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.45);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: var(--toggle-switch-padding);
  width: 100%;
}
penombre-toggle-switch thumb {
  background: var(--toggle-switch-thumb-color);
  border-radius: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.45);
  display: block;
  height: var(--toggle-switch-thumb-height);
  text-align: center;
  transition: margin-left var(--toggle-switch-transition-time) ease;
  width: var(--toggle-switch-thumb-width);
}
penombre-toggle-switch[checked] track {
  background: var(--toggle-switch-track-color-checked);
}
penombre-toggle-switch[checked] thumb {
  margin-left: calc(100% - var(--toggle-switch-thumb-width));
}
/* ---------------------------------------------
        Variables LESS
--------------------------------------------- */
/* ---------------------------------------------
        Fonts
--------------------------------------------- */
@font-face {
  font-family: "CattedraleDemo";
  src: url(/systems/penombre/fonts/Cattedrale-Demo/Cattedrale-Demo-Regular.ttf);
}
@font-face {
  font-family: "ChocoCovRainBold";
  src: url(/systems/penombre/fonts/chocolate-covered-raindrops/Chocolate%20Covered%20Raindrops%20BOLD.ttf);
}
/* ---------------------------------------------
        Mixins
--------------------------------------------- */
/* ---------------------------------------------
        Interface de Foundry VTT
--------------------------------------------- */
#pause > img {
  content: url("/systems/penombre/assets/ui/penombre_wheel.webp");
  height: 192px;
  width: 192px;
  top: -45px;
  left: calc(50% - 96px);
}
/* ---------------------------------------------
        Thème Clair
--------------------------------------------- */
/* ---------------------------------------------
          Thème Sombre
--------------------------------------------- */
body.theme-light .penombre.eminence .eminence-content {
  overflow: auto;
  font-family: "CattedraleDemo";
  color: #a56135;
  font-size: 17px;
  background-color: #faeed6;
  /* Si et seulement si on est en mode clair (et pas sombre) de la fiche */
  clear: both;
}
body.theme-light .penombre.eminence .eminence-content .eminence-timbre,
body.theme-light .penombre.eminence .eminence-content .eminence-timbre-2 {
  min-height: 90px;
  display: table;
}
body.theme-light .penombre.eminence .eminence-content .eminence-timbre .cadre-img,
body.theme-light .penombre.eminence .eminence-content .eminence-timbre-2 .cadre-img {
  width: 100px;
  float: left;
}
body.theme-light .penombre.eminence .eminence-content .eminence-timbre .datas-timbre,
body.theme-light .penombre.eminence .eminence-content .eminence-timbre-2 .datas-timbre {
  float: left;
  width: 525px;
  padding-left: 4px;
}
body.theme-light .penombre.eminence .eminence-content .eminence-timbre .logo-penombre,
body.theme-light .penombre.eminence .eminence-content .eminence-timbre-2 .logo-penombre {
  float: none;
  width: 223px;
  content: url("/systems/penombre/assets/ui/logo_penombre_sur_fond_clair.png");
}
body.theme-light .penombre.eminence .eminence-content .eminence-timbre .frise-penombre,
body.theme-light .penombre.eminence .eminence-content .eminence-timbre-2 .frise-penombre {
  float: left;
  width: 402px;
  content: url("/systems/penombre/assets/ui/frise_plus_grande_sur_fond_clair.png");
}
body.theme-dark .penombre.eminence .eminence-content {
  overflow: auto;
  font-family: "CattedraleDemo";
  color: #a56135;
  font-size: 17px;
  clear: both;
}
body.theme-dark .penombre.eminence .eminence-content .eminence-timbre {
  min-height: 90px;
  background-color: #2d1000;
  display: table;
}
body.theme-dark .penombre.eminence .eminence-content .eminence-timbre .cadre-img {
  width: 100px;
  float: left;
}
body.theme-dark .penombre.eminence .eminence-content .eminence-timbre .datas-timbre {
  float: left;
  width: 525px;
  padding-left: 4px;
}
body.theme-dark .penombre.eminence .eminence-content .eminence-timbre .logo-penombre {
  float: none;
  width: 223px;
  content: url("/systems/penombre/assets/ui/logo_penombre_sur_fond_sombre.png");
}
body.theme-dark .penombre.eminence .eminence-content .eminence-timbre .frise-penombre {
  float: left;
  width: 402px;
  content: url("/systems/penombre/assets/ui/frise_plus_grande_sur_fond_sombre.png");
}
body.theme-dark .penombre.eminence .eminence-content .eminence-timbre-2 {
  min-height: 110px;
  display: table;
}
body.theme-dark .penombre.eminence .eminence-content .eminence-timbre-2 .cadre-img {
  width: 100px;
  float: left;
  border-radius: 6px;
  background-color: #faeed6;
}
body.theme-dark .penombre.eminence .eminence-content .eminence-timbre-2 .datas-timbre {
  float: left;
  width: 525px;
  padding-left: 4px;
}
body.theme-dark .penombre.eminence .eminence-content .eminence-timbre-2 .logo-penombre {
  float: none;
  width: 223px;
  content: url("/systems/penombre/assets/ui/logo_penombre_sur_fond_sombre.png");
}
body.theme-dark .penombre.eminence .eminence-content .eminence-timbre-2 .frise-penombre {
  float: left;
  width: 402px;
  content: url("/systems/penombre/assets/ui/frise_plus_grande_sur_fond_sombre.png");
}
.penombre {
  /* ---------------------------------------------
        Eminence
--------------------------------------------- */
}
.penombre.eminence .eminence-content {
  /*
      // Styles de texte avec classes utilitaires
      .text {
        .font-doree {
          color: @color-accent;
        }

        .font-grise {
          color: @color-secondary;
        }

        .font-marron {
          color: @color-primary;
        }

        .font-chocolate {
          font-family: @font-chocolate;
        }

        .font-cattedrale {
          font-family: @font-cattedrale;
        }
      }
      */
}
.penombre.eminence .eminence-content input,
.penombre.eminence .eminence-content select {
  border-color: #a56135;
  color: #56605b;
  font-family: "ChocoCovRainBold";
  font-size: 25px;
}
.penombre.eminence .eminence-content .eminence-main {
  width: 100%;
  display: table;
  clear: both;
}
.penombre.eminence .eminence-content .col-1 {
  width: 450px;
  float: left;
  display: table;
  clear: both;
}
.penombre.eminence .eminence-content .col-2 {
  width: 23px;
  float: left;
  height: 500px;
  padding: 0 3px;
}
.penombre.eminence .eminence-content .col-2 .grande-frise-verticale-1,
.penombre.eminence .eminence-content .col-2 .grande-frise-verticale-2,
.penombre.eminence .eminence-content .col-2 .grande-frise-verticale-3,
.penombre.eminence .eminence-content .col-2 .grande-frise-verticale-4,
.penombre.eminence .eminence-content .col-2 .grande-frise-verticale-5 {
  flex-direction: column;
}
.penombre.eminence .eminence-content .col-3 {
  margin-left: 473px;
  min-width: 635px;
}
.penombre.eminence .eminence-content .col-1-1 {
  width: 25px;
  float: left;
  transform: rotate(180deg);
}
.penombre.eminence .eminence-content .col-2-1 {
  width: 9px;
  float: left;
}
.penombre.eminence .eminence-content .col-3-1 {
  width: 408px;
  float: left;
  flex-direction: column;
  padding-left: 4px;
}
.penombre.eminence .eminence-content .eminence-personnage,
.penombre.eminence .eminence-content .eminence-harmoniques,
.penombre.eminence .eminence-content .eminence-conscience {
  float: none;
  flex-direction: column;
  border: 1px solid #a56135;
  padding: 2px;
  border-radius: 6px;
}
.penombre.eminence .eminence-content .eminence-pouvoirs,
.penombre.eminence .eminence-content .eminence-atouts,
.penombre.eminence .eminence-content .eminence-maitrises,
.penombre.eminence .eminence-content .eminence-pouvoirs-2,
.penombre.eminence .eminence-content .eminence-atouts-2,
.penombre.eminence .eminence-content .eminence-maitrises-2,
.penombre.eminence .eminence-content .eminence-timbre,
.penombre.eminence .eminence-content .eminence-timbre-2,
.penombre.eminence .eminence-content .eminence-recapitulatif {
  min-width: 635px;
  float: none;
  flex-direction: column;
  border: 1px solid #a56135;
  padding: 2px;
  border-radius: 6px;
}
.penombre.eminence .eminence-content .text-vertical-personnage,
.penombre.eminence .eminence-content .text-vertical-harmoniques,
.penombre.eminence .eminence-content .text-vertical-conscience {
  font-size: 19px;
  writing-mode: vertical-rl;
  text-orientation: sideways-left;
}
.penombre.eminence .eminence-content .eminence-personnage {
  min-height: 165px;
  color: #a56135;
}
.penombre.eminence .eminence-content .eminence-personnage .logo-frame {
  display: table;
  float: left;
  justify-content: center;
  height: 152px;
  width: 150px;
  padding: 1px;
}
.penombre.eminence .eminence-content .eminence-personnage .logo-frame .logo-img {
  border-radius: 6px;
}
.penombre.eminence .eminence-content .eminence-personnage .data {
  float: left;
  width: 254px;
  clear: right;
}
.penombre.eminence .eminence-content .eminence-harmoniques {
  min-height: 350px;
}
.penombre.eminence .eminence-content .eminence-conscience-locked {
  min-height: 725px;
}
.penombre.eminence .eminence-content .eminence-conscience-unlocked {
  min-height: 685px;
}
.penombre.eminence .eminence-content .eminence-conscience {
  color: #917f35;
}
.penombre.eminence .eminence-content .eminence-conscience .div-jetons {
  width: 400px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* 5 colonnes égales */
  gap: 10px;
  padding: 10px;
}
.penombre.eminence .eminence-content .eminence-conscience .div-jetons img.dropshadow-actif,
.penombre.eminence .eminence-content .eminence-conscience .div-jetons img.dropshadow-inactif {
  -webkit-filter: drop-shadow(5px 5px 5px #666666);
  filter: drop-shadow(5px 5px 5px #666666);
}
.penombre.eminence .eminence-content .eminence-conscience .div-jetons img.dropshadow-actif:hover,
.penombre.eminence .eminence-content .eminence-conscience .div-jetons img.dropshadow-inactif:hover {
  cursor: pointer;
}
.penombre.eminence .eminence-content .eminence-conscience .div-jetons .jeton {
  text-align: center;
}
.penombre.eminence .eminence-content .eminence-conscience .cadre-complications-2 {
  display: table;
  width: 402px;
  border: 1px solid #917f35;
  border-radius: 4px;
  padding: 2px;
  padding-left: 10px;
}
.penombre.eminence .eminence-content .eminence-conscience .cadre-complications-2 .div-cases {
  display: flex;
  width: 390px;
}
.penombre.eminence .eminence-content .eminence-conscience .cadre-complications-2 .div-cases label {
  float: left;
}
.penombre.eminence .eminence-content .eminence-conscience .cadre-complications-2 .div-cases .div-descriptions input {
  width: 320px;
}
.penombre.eminence .eminence-content .eminence-conscience .cadre-complications-2 .div-cases .images-cases {
  display: flex;
  width: 250px;
  height: 20px;
  float: left;
  flex-direction: row;
  justify-content: flex-end;
}
.penombre.eminence .eminence-content .eminence-conscience .cadre-complications-2 .div-cases .images-cases .complication-case {
  float: left;
  width: 20px;
  height: 20px;
}
.penombre.eminence .eminence-content .eminence-conscience .cadre-complications-2 .div-cases .images-cases .complication-case:hover {
  cursor: pointer;
}
.penombre.eminence .eminence-content .eminence-conscience .cadre-complications {
  display: table;
  width: 402px;
  border: 1px solid #917f35;
  border-radius: 4px;
  padding: 2px;
  padding-left: 10px;
}
.penombre.eminence .eminence-content .eminence-conscience .cadre-complications label {
  width: 402px;
  float: none;
  clear: both;
}
.penombre.eminence .eminence-content .eminence-conscience .cadre-complications .ligne-complication {
  display: flex;
  clear: both;
}
.penombre.eminence .eminence-content .eminence-conscience .cadre-complications .ligne-complication .div-descriptions-2 input {
  width: 600px;
}
.penombre.eminence .eminence-content .eminence-conscience .cadre-complications .ligne-complication .div-descriptions {
  float: left;
  width: 320px;
}
.penombre.eminence .eminence-content .eminence-conscience .cadre-complications .ligne-complication .div-cases {
  float: left;
  width: 70px;
}
.penombre.eminence .eminence-content .eminence-conscience .cadre-complications .ligne-complication .div-cases .images-cases {
  display: flex;
  width: 70px;
  height: 20px;
  flex-direction: row;
  justify-content: flex-end;
}
.penombre.eminence .eminence-content .eminence-conscience .cadre-complications .ligne-complication .div-cases .images-cases .complication-case {
  float: left;
  width: 20px;
  height: 20px;
}
.penombre.eminence .eminence-content .eminence-conscience .note-jetons {
  text-align: center;
  color: #56605b;
}
.penombre.eminence .eminence-content .eminence-harmoniques {
  color: #56605b;
  /*
        .editer-harmoniques {
          // width: 405px;
          font-size: @font-size-xlarge;
        }
        */
}
.penombre.eminence .eminence-content .eminence-harmoniques .click:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 0px 6px #af010a);
  filter: drop-shadow(0px 0px 6px #af010a);
}
.penombre.eminence .eminence-content .eminence-harmoniques table tr:nth-child(odd),
.penombre.eminence .eminence-content .eminence-harmoniques table tr:nth-child(even) {
  background-color: transparent;
}
.penombre.eminence .eminence-content .eminence-harmoniques .case-de {
  width: 85px;
}
.penombre.eminence .eminence-content .eminence-harmoniques .col-3-1 .rang-2-2 {
  float: none;
  width: 405px;
}
.penombre.eminence .eminence-content .eminence-harmoniques .case-de-mouve-1 {
  float: none;
  margin-left: 40px;
  width: 85px;
  height: 85px;
}
.penombre.eminence .eminence-content .eminence-harmoniques .case-de-mouve-1 .editer-harmoniques {
  font-size: 30px;
}
.penombre.eminence .eminence-content .eminence-harmoniques .case-de-mouve-2 {
  float: none;
  margin-left: -40px;
  width: 85px;
  height: 85px;
}
.penombre.eminence .eminence-content .eminence-harmoniques .case-de-mouve-2 .editer-harmoniques {
  font-size: 30px;
}
.penombre.eminence .eminence-content .eminence-harmoniques .case-de-mouve-3 {
  float: none;
  margin-left: 10px;
  width: 85px;
  height: 85px;
}
.penombre.eminence .eminence-content .eminence-harmoniques .case-de-mouve-3 .editer-harmoniques {
  font-size: 30px;
}
.penombre.eminence .eminence-content .eminence-harmoniques .case-de-mouve-4 {
  float: none;
  margin-left: -5px;
  width: 85px;
  height: 85px;
}
.penombre.eminence .eminence-content .eminence-harmoniques .case-de-mouve-4 .editer-harmoniques {
  font-size: 30px;
}
.penombre.eminence .eminence-content .eminence-harmoniques .case-de-mouve-5 {
  float: none;
  margin-left: 85px;
  width: 85px;
  height: 85px;
}
.penombre.eminence .eminence-content .eminence-harmoniques .case-de-mouve-5 .editer-harmoniques {
  font-size: 30px;
}
.penombre.eminence .eminence-content .eminence-harmoniques .flexible {
  position: relative;
  display: flex;
}
.penombre.eminence .eminence-content .eminence-harmoniques .absolue {
  position: absolute;
  z-index: 5;
}
.penombre.eminence .eminence-content .eminence-harmoniques .de-d-ame-saisie,
.penombre.eminence .eminence-content .eminence-harmoniques .de-d-esprit-saisie,
.penombre.eminence .eminence-content .eminence-harmoniques .de-d-etincelle-saisie,
.penombre.eminence .eminence-content .eminence-harmoniques .de-de-nature-saisie,
.penombre.eminence .eminence-content .eminence-harmoniques .de-de-nuit-saisie {
  margin-top: 25px;
  margin-left: 10px;
  width: 70px;
  font-family: "ChocoCovRainBold";
}
.penombre.eminence .eminence-content .eminence-harmoniques .de-ame,
.penombre.eminence .eminence-content .eminence-harmoniques .de-esprit,
.penombre.eminence .eminence-content .eminence-harmoniques .de-etincelle,
.penombre.eminence .eminence-content .eminence-harmoniques .de-nature,
.penombre.eminence .eminence-content .eminence-harmoniques .de-nuit {
  margin-left: 3px;
  margin-top: -2px;
  width: 85px;
  height: 85px;
}
.penombre.eminence .eminence-content .eminence-harmoniques .text-gros-1,
.penombre.eminence .eminence-content .eminence-harmoniques .text-gros-2,
.penombre.eminence .eminence-content .eminence-harmoniques .text-gros-3,
.penombre.eminence .eminence-content .eminence-harmoniques .text-gros-4,
.penombre.eminence .eminence-content .eminence-harmoniques .text-gros-5 {
  float: none;
  color: #56605b;
  font-size: 30px;
}
.penombre.eminence .eminence-content .eminence-pouvoirs {
  min-height: 255px;
  color: #56605b;
  text-align: center;
}
.penombre.eminence .eminence-content .eminence-pouvoirs-2 {
  min-height: 400px;
  color: #56605b;
  text-align: center;
}
.penombre.eminence .eminence-content .eminence-pouvoirs .titre-section-pouvoirs,
.penombre.eminence .eminence-content .eminence-pouvoirs-2 .titre-section-pouvoirs {
  font-size: 35px;
  float: none;
}
.penombre.eminence .eminence-content .eminence-pouvoirs .content .potentiel,
.penombre.eminence .eminence-content .eminence-pouvoirs-2 .content .potentiel {
  text-align: center;
}
.penombre.eminence .eminence-content .eminence-pouvoirs .content .potentiel .div-potentiel,
.penombre.eminence .eminence-content .eminence-pouvoirs-2 .content .potentiel .div-potentiel {
  position: relative;
  float: left;
  text-align: center;
  width: 100px;
  height: 200px;
}
.penombre.eminence .eminence-content .eminence-pouvoirs .content .potentiel .div-potentiel .img-potentiel,
.penombre.eminence .eminence-content .eminence-pouvoirs-2 .content .potentiel .div-potentiel .img-potentiel {
  width: 100px;
  height: 100px;
}
.penombre.eminence .eminence-content .eminence-pouvoirs .content .potentiel .div-potentiel .absolue,
.penombre.eminence .eminence-content .eminence-pouvoirs-2 .content .potentiel .div-potentiel .absolue {
  position: absolute;
  z-index: 5;
}
.penombre.eminence .eminence-content .eminence-pouvoirs .content .potentiel .div-potentiel .val-potentiel-saisie,
.penombre.eminence .eminence-content .eminence-pouvoirs-2 .content .potentiel .div-potentiel .val-potentiel-saisie {
  margin-left: -22.5px;
  margin-top: 42px;
  width: 55px;
  z-index: 10;
  font-size: 30px;
}
.penombre.eminence .eminence-content .eminence-pouvoirs .content .potentiel .div-potentiel .val-potentiel,
.penombre.eminence .eminence-content .eminence-pouvoirs-2 .content .potentiel .div-potentiel .val-potentiel {
  margin-left: 41.5px;
  margin-top: 42px;
  text-align: center;
  font-size: 29px;
}
.penombre.eminence .eminence-content .eminence-pouvoirs .content .potentiel .div-potentiel span,
.penombre.eminence .eminence-content .eminence-pouvoirs-2 .content .potentiel .div-potentiel span {
  margin-left: -42px;
  margin-top: 90px;
  color: #a56135;
  font-size: 29px;
}
.penombre.eminence .eminence-content .eminence-pouvoirs .content .pouvoirs,
.penombre.eminence .eminence-content .eminence-pouvoirs-2 .content .pouvoirs {
  margin-left: 100px;
  width: calc(100% - 103px);
  min-height: 145px;
  border: 1px solid #917f35;
  border-radius: 4px;
  padding: 2px;
}
.penombre.eminence .eminence-content .eminence-pouvoirs .content .pouvoirs-2,
.penombre.eminence .eminence-content .eminence-pouvoirs-2 .content .pouvoirs-2 {
  margin-left: 100px;
  width: calc(100% - 103px);
  min-height: 290px;
  border: 1px solid #917f35;
  border-radius: 4px;
  padding: 2px;
}
.penombre.eminence .eminence-content .eminence-pouvoirs .content .pouvoirs .ligne-pouvoir,
.penombre.eminence .eminence-content .eminence-pouvoirs-2 .content .pouvoirs .ligne-pouvoir,
.penombre.eminence .eminence-content .eminence-pouvoirs .content .pouvoirs-2 .ligne-pouvoir,
.penombre.eminence .eminence-content .eminence-pouvoirs-2 .content .pouvoirs-2 .ligne-pouvoir {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.penombre.eminence .eminence-content .eminence-atouts {
  min-height: 255px;
  color: #56605b;
  text-align: center;
}
.penombre.eminence .eminence-content .eminence-atouts-2 {
  min-height: 400px;
  color: #56605b;
  text-align: center;
}
.penombre.eminence .eminence-content .eminence-atouts .titre-section-atouts,
.penombre.eminence .eminence-content .eminence-atouts-2 .titre-section-atouts {
  font-size: 35px;
  float: none;
}
.penombre.eminence .eminence-content .eminence-atouts .content .potentiel,
.penombre.eminence .eminence-content .eminence-atouts-2 .content .potentiel {
  text-align: center;
}
.penombre.eminence .eminence-content .eminence-atouts .content .potentiel .div-potentiel,
.penombre.eminence .eminence-content .eminence-atouts-2 .content .potentiel .div-potentiel {
  position: relative;
  float: left;
  text-align: center;
  width: 100px;
  height: 200px;
}
.penombre.eminence .eminence-content .eminence-atouts .content .potentiel .div-potentiel .img-potentiel,
.penombre.eminence .eminence-content .eminence-atouts-2 .content .potentiel .div-potentiel .img-potentiel {
  width: 100px;
  height: 100px;
}
.penombre.eminence .eminence-content .eminence-atouts .content .potentiel .div-potentiel .absolue,
.penombre.eminence .eminence-content .eminence-atouts-2 .content .potentiel .div-potentiel .absolue {
  position: absolute;
  z-index: 5;
}
.penombre.eminence .eminence-content .eminence-atouts .content .potentiel .div-potentiel .val-potentiel-saisie,
.penombre.eminence .eminence-content .eminence-atouts-2 .content .potentiel .div-potentiel .val-potentiel-saisie {
  margin-left: -22.5px;
  margin-top: 42px;
  width: 55px;
  z-index: 10;
  font-size: 30px;
}
.penombre.eminence .eminence-content .eminence-atouts .content .potentiel .div-potentiel .val-potentiel,
.penombre.eminence .eminence-content .eminence-atouts-2 .content .potentiel .div-potentiel .val-potentiel {
  margin-left: 41.5px;
  margin-top: 42px;
  text-align: center;
  font-size: 29px;
}
.penombre.eminence .eminence-content .eminence-atouts .content .potentiel .div-potentiel span,
.penombre.eminence .eminence-content .eminence-atouts-2 .content .potentiel .div-potentiel span {
  margin-left: -42px;
  margin-top: 90px;
  color: #a56135;
  font-size: 29px;
}
.penombre.eminence .eminence-content .eminence-atouts .content .atouts,
.penombre.eminence .eminence-content .eminence-atouts-2 .content .atouts {
  margin-left: 100px;
  width: calc(100% - 103px);
  min-height: 145px;
  border: 1px solid #917f35;
  border-radius: 4px;
  padding: 2px;
}
.penombre.eminence .eminence-content .eminence-atouts .content .atouts-2,
.penombre.eminence .eminence-content .eminence-atouts-2 .content .atouts-2 {
  margin-left: 100px;
  width: -3%;
  min-height: 290px;
  border: 1px solid #917f35;
  border-radius: 4px;
  padding: 2px;
}
.penombre.eminence .eminence-content .eminence-maitrises {
  min-height: 255px;
  color: #56605b;
  text-align: center;
}
.penombre.eminence .eminence-content .eminence-maitrises-2 {
  min-height: 400px;
  color: #56605b;
  text-align: center;
}
.penombre.eminence .eminence-content .eminence-maitrises .titre-section-maitrises,
.penombre.eminence .eminence-content .eminence-maitrises-2 .titre-section-maitrises {
  font-size: 35px;
  float: none;
}
.penombre.eminence .eminence-content .eminence-maitrises .content .potentiel,
.penombre.eminence .eminence-content .eminence-maitrises-2 .content .potentiel {
  text-align: center;
}
.penombre.eminence .eminence-content .eminence-maitrises .content .potentiel .div-potentiel,
.penombre.eminence .eminence-content .eminence-maitrises-2 .content .potentiel .div-potentiel {
  position: relative;
  float: left;
  text-align: center;
  width: 100px;
  height: 200px;
}
.penombre.eminence .eminence-content .eminence-maitrises .content .potentiel .div-potentiel .img-potentiel,
.penombre.eminence .eminence-content .eminence-maitrises-2 .content .potentiel .div-potentiel .img-potentiel {
  width: 100px;
  height: 100px;
}
.penombre.eminence .eminence-content .eminence-maitrises .content .potentiel .div-potentiel .absolue,
.penombre.eminence .eminence-content .eminence-maitrises-2 .content .potentiel .div-potentiel .absolue {
  position: absolute;
  z-index: 5;
}
.penombre.eminence .eminence-content .eminence-maitrises .content .potentiel .div-potentiel .val-potentiel-saisie,
.penombre.eminence .eminence-content .eminence-maitrises-2 .content .potentiel .div-potentiel .val-potentiel-saisie {
  margin-left: -22.5px;
  margin-top: 42px;
  width: 55px;
  z-index: 10;
  font-size: 30px;
}
.penombre.eminence .eminence-content .eminence-maitrises .content .potentiel .div-potentiel .val-potentiel,
.penombre.eminence .eminence-content .eminence-maitrises-2 .content .potentiel .div-potentiel .val-potentiel {
  margin-left: 41.5px;
  margin-top: 42px;
  text-align: center;
  font-size: 29px;
}
.penombre.eminence .eminence-content .eminence-maitrises .content .potentiel .div-potentiel span,
.penombre.eminence .eminence-content .eminence-maitrises-2 .content .potentiel .div-potentiel span {
  margin-left: -42px;
  margin-top: 90px;
  color: #a56135;
  font-size: 29px;
}
.penombre.eminence .eminence-content .eminence-maitrises .content .maitrises,
.penombre.eminence .eminence-content .eminence-maitrises-2 .content .maitrises {
  margin-left: 100px;
  width: calc(100% - 103px);
  min-height: 145px;
  border: 1px solid #917f35;
  border-radius: 4px;
  padding: 2px;
}
.penombre.eminence .eminence-content .eminence-maitrises .content .maitrises-2,
.penombre.eminence .eminence-content .eminence-maitrises-2 .content .maitrises-2 {
  margin-left: 100px;
  width: calc(100% - 103px);
  min-height: 290px;
  border: 1px solid #917f35;
  border-radius: 4px;
  padding: 2px;
}
.penombre.eminence .eminence-content .eminence-recapitulatif {
  min-height: 180px;
  width: 633px;
  color: #56605b;
  text-align: center;
}
.penombre.eminence .eminence-content .eminence-recapitulatif .content .tableau {
  display: table;
}
.penombre.eminence .eminence-content .eminence-recapitulatif .content .tableau .div-gauche {
  float: left;
  height: 100px;
  width: 477px;
}
.penombre.eminence .eminence-content .eminence-recapitulatif .content .tableau .div-gauche .img-gauche {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.penombre.eminence .eminence-content .eminence-recapitulatif .content .tableau .div-droite {
  float: left;
  height: 100px;
  width: 152px;
  padding-left: 33px;
}
.penombre.eminence .eminence-content .eminence-recapitulatif .content .tableau .div-droite .img-droite {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#penombre-reserve-collegiale {
  padding: none;
}
#penombre-reserve-collegiale .div-jetons {
  background-image: url("/systems/penombre/assets/ui/reserve-collegiale.jpg");
  background-repeat: no-repeat;
  background-size: 550px 550px;
  width: 740px;
  height: 790px;
  padding-left: 157px;
  padding-top: 159px;
}
#penombre-reserve-collegiale .div-jetons .jetons {
  width: 235px;
  height: 288px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 5 colonnes égales */
  gap: 5px;
  padding: 10px;
  /*
      .absolue {
        position: absolute;
        z-index: 5;
      }
      */
}
#penombre-reserve-collegiale .div-jetons .jetons img.dropshadow-actif,
#penombre-reserve-collegiale .div-jetons .jetons img.dropshadow-inactif {
  -webkit-filter: drop-shadow(5px 5px 5px #666666);
  filter: drop-shadow(5px 5px 5px #666666);
}
#penombre-reserve-collegiale .div-jetons .jetons img.dropshadow-actif:hover,
#penombre-reserve-collegiale .div-jetons .jetons img.dropshadow-inactif:hover {
  cursor: pointer;
}
#penombre-reserve-collegiale .div-jetons .jetons .jeton-2,
#penombre-reserve-collegiale .div-jetons .jetons .jeton-5,
#penombre-reserve-collegiale .div-jetons .jetons .jeton-8 {
  margin-top: -36px;
}
#penombre-reserve-collegiale .div-jetons .jetons .jeton-10 {
  margin-top: -36px;
  margin-left: 75px;
}
#penombre-reserve-collegiale .div-jetons .jetons .jeton {
  text-align: center;
  width: 68px;
  height: 68px;
}
#penombre-reserve-collegiale .div-jetons-2 .jetons {
  width: 400px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* 5 colonnes égales */
  gap: 10px;
  padding: 10px;
}
#penombre-reserve-collegiale .div-jetons-2 .jetons img.dropshadow-actif,
#penombre-reserve-collegiale .div-jetons-2 .jetons img.dropshadow-inactif {
  -webkit-filter: drop-shadow(5px 5px 5px #666666);
  filter: drop-shadow(5px 5px 5px #666666);
}
#penombre-reserve-collegiale .div-jetons-2 .jetons img.dropshadow-actif:hover,
#penombre-reserve-collegiale .div-jetons-2 .jetons img.dropshadow-inactif:hover {
  cursor: pointer;
}
#penombre-reserve-collegiale .div-jetons-2 .jetons .jeton {
  text-align: center;
}
