penombre-toggle-switch {
  --toggle-switch-height: 20px;
  --toggle-switch-width: 36px;
  --toggle-switch-padding: 3px;
  --toggle-switch-track-color-unchecked: black;
  --toggle-switch-track-color-checked: #3ba55d;
  --toggle-switch-thumb-color: white;
  --toggle-switch-thumb-width: calc(var(--toggle-switch-height) - var(--toggle-switch-padding) * 2);
  --toggle-switch-thumb-height: var(--toggle-switch-thumb-width);
  --toggle-switch-transition-time: 250ms;
  cursor: var(--cursor-pointer) !important;
  display: inline-block;
  width: var(--toggle-switch-width);
  height: var(--toggle-switch-height);
}
penombre-toggle-switch track {
  background: var(--toggle-switch-track-color-unchecked);
  border-radius: calc((var(--toggle-switch-height) * 2) / 3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.45);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: var(--toggle-switch-padding);
  width: 100%;
}
penombre-toggle-switch thumb {
  background: var(--toggle-switch-thumb-color);
  border-radius: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.45);
  display: block;
  height: var(--toggle-switch-thumb-height);
  text-align: center;
  transition: margin-left var(--toggle-switch-transition-time) ease;
  width: var(--toggle-switch-thumb-width);
}
penombre-toggle-switch[checked] track {
  background: var(--toggle-switch-track-color-checked);
}
penombre-toggle-switch[checked] thumb {
  margin-left: calc(100% - var(--toggle-switch-thumb-width));
}
/* ---------------------------------------------
        Variables LESS
--------------------------------------------- */
/* ---------------------------------------------
        Fonts
--------------------------------------------- */
@font-face {
  font-family: "CattedraleDemo";
  src: url(/systems/penombre/fonts/Cattedrale-Demo/Cattedrale-Demo-Regular.ttf);
}
@font-face {
  font-family: "ChocoCovRainBold";
  src: url(/systems/penombre/fonts/chocolate-covered-raindrops/Chocolate%20Covered%20Raindrops%20BOLD.ttf);
}
/* ---------------------------------------------
        Mixins
--------------------------------------------- */
/* ---------------------------------------------
        Interface de Foundry VTT
--------------------------------------------- */
#pause > img {
  content: url("/systems/penombre/assets/ui/penombre_wheel.webp");
  height: 192px;
  width: 192px;
  top: -45px;
  left: calc(50% - 96px);
}
/* ---------------------------------------------
        Thème Clair
--------------------------------------------- */
/* ---------------------------------------------
          Thème Sombre
--------------------------------------------- */
body.theme-light .penombre.eminence .eminence-content {
  overflow: auto;
  font-family: "CattedraleDemo";
  color: #a56135;
  font-size: 17px;
  background-color: #faeed6;
  /* Si et seulement si on est en mode clair (et pas sombre) de la fiche */
  clear: both;
}
body.theme-light .penombre.eminence .eminence-content .eminence-timbre {
  min-height: 95px;
}
body.theme-light .penombre.eminence .eminence-content .eminence-timbre .logo-penombre {
  float: none;
  width: 210px;
  content: url("/systems/penombre/assets/ui/logo_penombre_sur_fond_clair.png");
}
body.theme-light .penombre.eminence .eminence-content .eminence-timbre .frise-penombre {
  float: left;
  width: 400px;
  content: url("/systems/penombre/assets/ui/frise_plus_grande_sur_fond_clair.png");
}
body.theme-dark .penombre.eminence .eminence-content {
  overflow: auto;
  font-family: "CattedraleDemo";
  color: #a56135;
  font-size: 17px;
}
body.theme-dark .penombre.eminence .eminence-content .eminence-timbre {
  min-height: 95px;
}
body.theme-dark .penombre.eminence .eminence-content .eminence-timbre .logo-penombre {
  float: none;
  width: 210px;
  content: url("/systems/penombre/assets/ui/logo_penombre_sur_fond_sombre.png");
}
body.theme-dark .penombre.eminence .eminence-content .eminence-timbre .frise-penombre {
  float: left;
  width: 400px;
  content: url("/systems/penombre/assets/ui/frise_plus_grande_sur_fond_sombre.png");
}
.penombre {
  /* ---------------------------------------------
        Eminence
--------------------------------------------- */
}
.penombre.eminence .eminence-content {
  /*
      // Styles de texte avec classes utilitaires
      .text {
        .font-doree {
          color: @color-accent;
        }

        .font-grise {
          color: @color-secondary;
        }

        .font-marron {
          color: @color-primary;
        }

        .font-chocolate {
          font-family: @font-chocolate;
        }

        .font-cattedrale {
          font-family: @font-cattedrale;
        }
      }
      */
}
.penombre.eminence .eminence-content input,
.penombre.eminence .eminence-content select {
  border-color: #a56135;
  color: #56605b;
  font-family: "ChocoCovRainBold";
  font-size: 29px;
}
.penombre.eminence .eminence-content .eminence-main {
  width: 1100px;
  display: flex;
  display: table;
  clear: both;
}
.penombre.eminence .eminence-content .col-1 {
  width: 450px;
  float: left;
  display: table;
  clear: both;
}
.penombre.eminence .eminence-content .col-2 {
  width: 23px;
  float: left;
  height: 500px;
  padding: 0 3px;
}
.penombre.eminence .eminence-content .col-2 .grande-frise-verticale-1,
.penombre.eminence .eminence-content .col-2 .grande-frise-verticale-2,
.penombre.eminence .eminence-content .col-2 .grande-frise-verticale-3,
.penombre.eminence .eminence-content .col-2 .grande-frise-verticale-4,
.penombre.eminence .eminence-content .col-2 .grande-frise-verticale-5 {
  flex-direction: column;
}
.penombre.eminence .eminence-content .col-3 {
  width: 625px;
  float: left;
}
.penombre.eminence .eminence-content .col-1-1 {
  width: 25px;
  float: left;
  transform: rotate(180deg);
}
.penombre.eminence .eminence-content .col-2-1 {
  width: 9px;
  float: left;
}
.penombre.eminence .eminence-content .col-3-1 {
  width: 408px;
  float: left;
  flex-direction: column;
  padding-left: 4px;
}
.penombre.eminence .eminence-content .eminence-personnage,
.penombre.eminence .eminence-content .eminence-harmoniques,
.penombre.eminence .eminence-content .eminence-conscience,
.penombre.eminence .eminence-content .eminence-timbre,
.penombre.eminence .eminence-content .eminence-pouvoirs,
.penombre.eminence .eminence-content .eminence-atouts,
.penombre.eminence .eminence-content .eminence-maitrises {
  float: none;
  flex-direction: column;
  border: 1px solid #a56135;
  padding: 2px;
  border-radius: 6px;
}
.penombre.eminence .eminence-content .text-vertical-personnage,
.penombre.eminence .eminence-content .text-vertical-harmoniques,
.penombre.eminence .eminence-content .text-vertical-conscience {
  font-size: 19px;
  writing-mode: vertical-rl;
  text-orientation: sideways-left;
}
.penombre.eminence .eminence-content .eminence-personnage {
  min-height: 165px;
  color: #a56135;
}
.penombre.eminence .eminence-content .eminence-personnage .logo-frame {
  display: flex;
  display: table;
  float: left;
  justify-content: center;
  height: 152px;
  width: 150px;
  padding: 1px;
}
.penombre.eminence .eminence-content .eminence-personnage .data {
  float: left;
  width: 254px;
  clear: right;
}
.penombre.eminence .eminence-content .eminence-harmoniques-locked {
  min-height: 350px;
}
.penombre.eminence .eminence-content .eminence-harmoniques-unlocked {
  min-height: 510px;
}
.penombre.eminence .eminence-content .eminence-conscience {
  min-height: 800px;
  color: #917f35;
}
.penombre.eminence .eminence-content .eminence-conscience .div-jetons {
  width: 400px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* 5 colonnes égales */
  gap: 10px;
  padding: 10px;
}
.penombre.eminence .eminence-content .eminence-conscience .div-jetons img.dropshadow-actif,
.penombre.eminence .eminence-content .eminence-conscience .div-jetons img.dropshadow-inactif {
  -webkit-filter: drop-shadow(5px 5px 5px #666666);
  filter: drop-shadow(5px 5px 5px #666666);
}
.penombre.eminence .eminence-content .eminence-conscience .div-jetons img.dropshadow-actif:hover,
.penombre.eminence .eminence-content .eminence-conscience .div-jetons img.dropshadow-inactif:hover {
  cursor: pointer;
}
.penombre.eminence .eminence-content .eminence-conscience .div-jetons .jeton {
  text-align: center;
}
.penombre.eminence .eminence-content .eminence-conscience .cadre-complications {
  display: table;
  width: 402px;
  border: 1px solid #917f35;
  border-radius: 4px;
  padding: 2px;
  padding-left: 10px;
}
.penombre.eminence .eminence-content .eminence-conscience .cadre-complications .div-cases {
  display: flex;
  width: 390px;
}
.penombre.eminence .eminence-content .eminence-conscience .cadre-complications .div-cases label {
  float: left;
}
.penombre.eminence .eminence-content .eminence-conscience .cadre-complications .div-cases .images-cases {
  display: flex;
  width: 250px;
  height: 20px;
  float: left;
  flex-direction: line;
  justify-content: right;
}
.penombre.eminence .eminence-content .eminence-conscience .cadre-complications .div-cases .images-cases .complication-case {
  float: left;
  width: 20px;
  height: 20px;
}
.penombre.eminence .eminence-content .eminence-conscience .cadre-complications .div-cases .images-cases .complication-case:hover {
  cursor: pointer;
  /*
                  -webkit-filter: drop-shadow(0px 0px 6px #af010a);
                  filter: drop-shadow(0px 0px 6px #af010a);
                  */
}
.penombre.eminence .eminence-content .eminence-harmoniques {
  color: #56605b;
}
.penombre.eminence .eminence-content .eminence-harmoniques .click:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 0px 6px #af010a);
  filter: drop-shadow(0px 0px 6px #af010a);
}
.penombre.eminence .eminence-content .eminence-harmoniques table tr:nth-child(odd),
.penombre.eminence .eminence-content .eminence-harmoniques table tr:nth-child(even) {
  background-color: transparent;
}
.penombre.eminence .eminence-content .eminence-harmoniques .case-de {
  width: 85px;
}
.penombre.eminence .eminence-content .eminence-harmoniques .col-3-1 .col-1-2 {
  float: left;
  width: 410px;
}
.penombre.eminence .eminence-content .eminence-harmoniques .col-3-1 .col-2-2 {
  float: none;
  width: 400px;
}
.penombre.eminence .eminence-content .eminence-harmoniques .case-de-mouve-1 {
  float: none;
  margin-left: 40px;
  width: 85px;
  height: 85px;
}
.penombre.eminence .eminence-content .eminence-harmoniques .case-de-mouve-2 {
  float: none;
  margin-left: -40px;
  width: 85px;
  height: 85px;
}
.penombre.eminence .eminence-content .eminence-harmoniques .case-de-mouve-3 {
  float: none;
  margin-left: 10px;
  width: 85px;
  height: 85px;
}
.penombre.eminence .eminence-content .eminence-harmoniques .case-de-mouve-4 {
  float: none;
  margin-left: -5px;
  width: 85px;
  height: 85px;
}
.penombre.eminence .eminence-content .eminence-harmoniques .case-de-mouve-5 {
  float: none;
  margin-left: 85px;
  width: 85px;
  height: 85px;
}
.penombre.eminence .eminence-content .eminence-harmoniques .flexible {
  position: relative;
  display: flex;
}
.penombre.eminence .eminence-content .eminence-harmoniques .absolue {
  position: absolute;
  z-index: 5;
}
.penombre.eminence .eminence-content .eminence-harmoniques .de-ame,
.penombre.eminence .eminence-content .eminence-harmoniques .de-esprit,
.penombre.eminence .eminence-content .eminence-harmoniques .de-etincelle,
.penombre.eminence .eminence-content .eminence-harmoniques .de-nature,
.penombre.eminence .eminence-content .eminence-harmoniques .de-nuit {
  margin-left: 3px;
  margin-top: -2px;
  width: 85px;
  height: 85px;
}
.penombre.eminence .eminence-content .eminence-harmoniques .text-gros-1,
.penombre.eminence .eminence-content .eminence-harmoniques .text-gros-2,
.penombre.eminence .eminence-content .eminence-harmoniques .text-gros-3,
.penombre.eminence .eminence-content .eminence-harmoniques .text-gros-4,
.penombre.eminence .eminence-content .eminence-harmoniques .text-gros-5 {
  float: none;
  color: #56605b;
  font-size: 30px;
}
.penombre.eminence .eminence-content .eminence-pouvoirs {
  min-height: 500px;
  color: #56605b;
}
.penombre.eminence .eminence-content .eminence-pouvoirs .titre-section-pouvoirs {
  font-size: 40px;
  float: none;
}
.penombre.eminence .eminence-content .eminence-pouvoirs .content .potentiel .div-potentiel {
  position: relative;
  text-align: center;
  width: 100px;
  height: 200px;
}
.penombre.eminence .eminence-content .eminence-pouvoirs .content .potentiel .div-potentiel .img-potentiel {
  width: 100px;
  height: 100px;
}
.penombre.eminence .eminence-content .eminence-pouvoirs .content .potentiel .div-potentiel .absolue {
  position: absolute;
  z-index: 5;
}
.penombre.eminence .eminence-content .eminence-pouvoirs .content .potentiel .div-potentiel .val-potentiel {
  margin-left: 45px;
  margin-top: 42px;
  font-size: 29px;
}
.penombre.eminence .eminence-content .eminence-pouvoirs .content .potentiel .div-potentiel span {
  margin-left: -42px;
  margin-top: 90px;
  color: #a56135;
  font-size: 29px;
}
.penombre.eminence .eminence-content .eminence-pouvoirs .content .pouvoirs {
  float: none;
}
