/* ---------------------------------------------
        Fonts
--------------------------------------------- */

@font-face {
  font-family: "CattedraleDemo";
  src: url(/systems/penombre/fonts/Cattedrale-Demo/Cattedrale-Demo-Regular.ttf);
}

@font-face {
  font-family: "ChocoCovRainBold";
  src: url(/systems/penombre/fonts/chocolate-covered-raindrops/Chocolate%20Covered%20Raindrops%20BOLD.ttf);
}


/* ---------------------------------------------
        Eminence
--------------------------------------------- */

.eminence .eminence-content {
  overflow: auto;
}

/* Si et seulement si on est en mode clair (et pas sombre) de la fiche */
.eminence .eminence-content {
  background-color: #faeed6;
}

.eminence .eminence-content .eminence-main {
  width: 1100px;
  display: flex;
  display: table;
  clear: both;
}

.eminence .eminence-content .col-1 {
  width: 450px;
  float: left;
  display: table;
  clear: both;
}

.eminence .eminence-content .col-2 {
  width: 23px;
  float: left;
  height: 500px;
  padding: 0 3px;
}

.eminence .eminence-content .col-3 {
  width: 625px;
  float: left;
}

.eminence .eminence-content .col-2 .grande-frise-verticale-1,
.eminence .eminence-content .col-2 .grande-frise-verticale-2,
.eminence .eminence-content .col-2 .grande-frise-verticale-3 {
  flex-direction: column;
}

.eminence .eminence-content .col-1-1 {
  width: 25px;
  float: left;
}

.eminence .eminence-content .col-2-1 {
  width: 8px;
  float: left;
}

.eminence .eminence-content .col-3-1 {
  width: 410px;
  float: left;
  flex-direction: column;
  padding-left: 4px;
}

.eminence .eminence-content .eminence-personnage,
.eminence .eminence-content .eminence-harmoniques,
.eminence .eminence-content .eminence-conscience,
.eminence .eminence-content .eminence-timbre,
.eminence .eminence-content .eminence-pouvoirs,
.eminence .eminence-content .eminence-atouts,
.eminence .eminence-content .eminence-maitrises {
  float: none;
  flex-direction: column;
  border: 1px solid #a56135;
  padding: 2px;
  border-radius: 6px;
}


.eminence .eminence-content .eminence-personnage {
  height: 200px;
}

.eminence .eminence-content .eminence-harmoniques {
  height: 475px;
}

.eminence .eminence-content .eminence-conscience {
  height: 600px;
}


/* */
.eminence .eminence-content .text .font-doree {
  color: #917f35;
}

/* */
.eminence .eminence-content .text .font-grise {
  color: #56605b;
}

/* */
.eminence .eminence-content .text .font-marron {
  color: #a56135;
}

/* */
.eminence .eminence-content .text .font-chocolate {
  font-family: "ChocoCovRainBold";
}

/* */
.eminence .eminence-content .text .font-cattedrale {
  font-family: "CattedraleDemo";
}


.eminence .eminence-content {
  font-family: "CattedraleDemo";
  color: #a56135;
  font-size: 17px;
}

.eminence .eminence-content input,
.eminence .eminence-content select {
  border-color: #a56135;
  color: #56605b;
  font-family: "ChocoCovRainBold";
  font-size: 29px;
}


.eminence .eminence-content .text-vertical-personnage {
  writing-mode: vertical-rl;
  text-orientation: sideways-left;
  font-family: "CattedraleDemo";
  color: #a56135;
  font-size: 17px;
  text-align: center;
}

.eminence .eminence-content .text-vertical-harmoniques {
  writing-mode: vertical-rl;
  text-orientation: sideways-left;
  font-family: "CattedraleDemo";
  color: #56605b;
  font-size: 17px;
  text-align: center;
}

.eminence .eminence-content .text-vertical-conscience {
  writing-mode: vertical-rl;
  text-orientation: sideways-left;
  font-family: "CattedraleDemo";
  color: #917f35;
  font-size: 17px;
  text-align: center;
}

/* */
.eminence .eminence-content .eminence-harmoniques table {
  width: 380px;
  /* background-color: green; */
} 

.eminence .eminence-content .eminence-harmoniques table tr {
  width: 600px;
}

.eminence .eminence-content .eminence-harmoniques table tr:nth-child(odd) {
  background-color: transparent;
}

.eminence .eminence-content .eminence-harmoniques table tr:nth-child(even) {
  background-color: transparent;
}

.eminence .eminence-content .eminence-harmoniques .case-de {
  width: 85px;
}

.eminence .eminence-content .eminence-harmoniques .col-3-1 .col-2-3 {
  float: none;
  width: 400px;
  /* background-color: yellow; */
}

.eminence .eminence-content .eminence-harmoniques .col-3-1 .col-1-3 {
  float: left;
  width: 410px;
}


.eminence .eminence-content .eminence-harmoniques .case-de-mouve-1 {
  float: none;
  margin-left: 40px;
  width: 85px;
  height: 85px;
}

.eminence .eminence-content .eminence-harmoniques .case-de-mouve-2 {
  float: none;
  margin-left: -40px;
  width: 85px;
  height: 85px;
}

.eminence .eminence-content .eminence-harmoniques .case-de-mouve-3 {
  float: none;
  margin-left: 10px;
  width: 85px;
  height: 85px;
}

.eminence .eminence-content .eminence-harmoniques .case-de-mouve-4 {
  float:none;
  margin-left: 5px;
  width: 85px;
  height: 85px;
}

.eminence .eminence-content .eminence-harmoniques .case-de-mouve-5 {
  float: none;
  margin-left: 65px;
  width: 85px;
  height: 85px;
}

.eminence .eminence-content .eminence-harmoniques .flexible {
  position: relative;
  display: flex;
}

.eminence .eminence-content .eminence-harmoniques .absolue {
  position: absolute;
  z-index: 5;
}

.eminence .eminence-content .eminence-harmonique .de-d-ame {
  z-index: 3;
  /* width: 30px; */
  /* margin-left: -50px; */
  /* margin-top: -50px; */
}
.eminence .eminence-content .eminence-harmonique .de-ame {
  width: 20px;
  height: 20px;
}

.eminence .eminence-content .eminence-harmonique .de-d-esprit {
  z-index: 3;
  /* width: 30px; */
  /* margin-top: -50px; */
}
.eminence .eminence-content .eminence-harmonique .de-esprit {
  width: 20px;
  height: 20px;
}

.eminence .eminence-content .eminence-harmonique .de-d-etincelle {
  z-index: 3;
  /* width: 30px; */
  /* margin-left: -50px; */
  /* margin-top: -50px; */
}
.eminence .eminence-content .eminence-harmonique .de-etincelle {
  width: 20px;
  height: 20px;
}

.eminence .eminence-content .eminence-harmonique .de-de-nature {
  z-index: 3;
  /* width: 30px; */
  /* margin-top: -50px; */
}
.eminence .eminence-content .eminence-harmonique .de-nature {
  width: 20px;
  height: 20px;
}

.eminence .eminence-content .eminence-harmonique .de-de-nuit {
  z-index: 3;
  /* width: 30px; */
  /* margin-left: 50px; */
  /* margin-top: -50px; */
}
.eminence .eminence-content .eminence-harmonique .de-nuit {
  width: 20px;
  height: 20px;
}

.eminence .eminence-content .eminence-harmonique .text-gros-1 {
  float: none;
  font-size: 30px;
}

.eminence .eminence-content .eminence-harmonique .text-gros-2 {
  float: none;
  font-size: 30px;
}

.eminence .eminence-content .eminence-harmonique .text-gros-3 {
  float: none;
  font-size: 30px;
}

.eminence .eminence-content .eminence-harmonique .text-gros-4 {
  float: none;
  font-size: 30px;
}

.eminence .eminence-content .eminence-harmonique .text-gros-1 {
  float: none;
  font-size: 30px;
}
