{{!log "EminenceSheet - Partials - Recapitulatif" this }}
<div class="eminence-recapitulatif">
    <div class="content">
        <div class="tableau">
            <div class="div-gauche">
                <img class="img-gauche" src="systems/penombre/assets/ui/tableau_partie_gauche.webp" />
            </div>
            <div class="div-droite">
                <img class="img-droite" src="systems/penombre/assets/ui/tableau_partie_droite.webp" />
            </div>
        </div>
    </div>
</div>