<div class="eminence-timbre">
  {{formGroup systemFields.timbre.fields.description value=systemSource.timbre.description localize=true}}  
  {{formGroup systemFields.timbre.fields.statut value=systemSource.timbre.statut localize=true}}
  {{formGroup systemFields.timbre.fields.peste value=systemSource.timbre.peste localize=true}}
</div>