<div class="eminence-timbre">
  {{#if (or (eq styleJeu "standard") (eq styleJeu "avance"))}}
    {{formGroup systemFields.timbre.fields.description value=systemSource.timbre.description localize=true}}
    {{formGroup systemFields.timbre.fields.statut value=systemSource.timbre.statut localize=true}}
    {{formGroup systemFields.timbre.fields.peste value=systemSource.timbre.peste localize=true}}
  {{else}}
    <img class="logo-penombre" ></img>
  {{/if}}
</div>