{{log "atout" this}}
<section class="atout-main standard-form">

{{formGroup fields.name value=item.name localize=true}}
{{formGroup systemFields.valeur value=systemSource.valeur localize=true}}
{{formGroup systemFields.description value=systemSource.description localize=true}}


</section>