#interface #sidebar,
#interface #ui-right-column-1 {
  & .chat-message {
    .theme-dark & {
      background: #0b0a13e6;
      color: var(--color-textLight);
      span,
      label {
        color: var(--color-textLight);
      }
    }
    .theme-light & {
      background-color: var(--color-light-3);
      color: #222;
      span,
      label {
        color: #222;
      }
    }
    .message-header {
      border-bottom: 1px solid #5d142b;
      display: grid;
      .theme-dark & {
        color: var(--color-textLight);
      }
      .theme-light & {
        color: #222;
      }

      .message-metadata {
        margin-top: -53px;
      }

      img {
        max-width: 50px;
        max-height: 50px;
        margin-right: 4px;
      }
      .title {
        font-size: 18px;
        font-weight: bold;
        display: inline;
        text-wrap: auto;
      }
      .message-sender {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
    .message-content {
      .dice-roll.penombre {
        .roll-title {
          font-family: "CattedraleDemo";
          font-size: 1.1rem;
          text-align: center;
        }
        .roll-results {
          font-family: "CattedraleDemo";
          font-size: 1.1rem;
          text-align: center;
        }
        .participate-container {
          display: flex;
          justify-content: space-between;
          button {
            flex: 1;
            margin: 0 4px;
          }
        }
        .dice-result {
          &.expanded {
            .dice-tooltip {
              grid-template-rows: 1fr;
            }
          }
          .dice-tooltip {
            cursor: var(--cursor-default);
            .wrapper .reroll-container {
              display: flex;
              align-items: center;
              justify-content: center;
              .reroll-conscience.hidden {
                display: none;
              }
              .reroll-reserve.hidden {
                display: none;
              }
            }
          }
        }
        .dice-tooltip .dice-rolls .roll {
          background-image: none;
        }
        section.harmonique {
          li.roll.die {
            width: 48px;
            height: 48px;
            &.rerollable {
              cursor: var(--cursor-pointer);
            }
            &.max {
              filter: sepia(0.9) hue-rotate(10deg) saturate(0.8) brightness(0.85);
            }
            &.min {
              filter: sepia(0.7) hue-rotate(-20deg) saturate(2) brightness(1);
            }
            &.dice-selected {
              border: solid 2px black;
            }
          }
        }
        section.atout {
          li.roll.die {
            width: 48px;
            height: 48px;
            cursor: var(--cursor-pointer);
            &.max {
              filter: none;
            }
            &.min {
              filter: none;
            }
            &.dice-selected {
              border: solid 2px black;
            }
          }
        }
      }
    }
  }
}
