#interface #sidebar,
#interface #ui-right-column-1 {
  & .chat-message {
    .theme-dark & {
      background: #0b0a13e6;
      color: var(--color-textLight);
      span,
      label {
        color: white;
      }
      button {
        color: white;
      }
    }
    .theme-light & {
      background-color: @background-light; // Si et seulement si on est en mode clair (et pas sombre) de la fiche
      background-image: url("/systems/penombre/assets/background/fond-coupe-petit.webp");
      background-repeat: repeat;
    }
    .message-header {
      border-bottom: 1.5px solid @color-primary;
      display: grid;
      .theme-dark & {
        // color: var(--color-textLight);
      }
      .theme-light & {
        // color: #222;
      }

      .message-metadata {
        margin-top: -53px;
      }

      img {
        border-radius: @border-radius-tiny;
        border-left: 0.5px solid @color-primary;
        border-top: 0.5px solid @color-primary;
        border-right: 0.5px solid @color-primary;
        max-width: 50px;
        max-height: 50px;
        margin-right: 4px;
      }
      .title {
        color: @color-primary;
        font-family: "Cattedrale";
        font-size: 20px;
        display: inline;
        text-wrap: auto;
      }
      .message-sender {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
    .message-content {
      .dice-roll.penombre {
        .roll-title {
          font-family: "Cattedrale";
          font-size: 1.1rem;
          text-align: center;
          padding-top: 5px;
        }
        .roll-infos {
          font-family: "Cattedrale";
          font-size: 1rem;
          text-align: center;
          margin: 5px 0 5px 0;
        }
        .participate-container {
          margin-bottom: 5px;
          button {
            font-family: "Cattedrale";
            font-size: 1rem;
          }
        }
        .roll-results {
          font-family: "Cattedrale";
          font-size: 1.1rem;
          text-align: center;
          .roll-result-total {
            text-align: center;
            .roll-result-special {
              display: flex;
              align-items: center;
              justify-content: center;
              img {
                max-width: 32px;
                max-height: 32px;
                margin-right: 10px;
              }
            }
          }
        }
        .participate-container {
          display: flex;
          justify-content: space-between;
          button {
            flex: 1;
            margin: 0 4px;
          }
        }
        .dice-result {
          &.expanded {
            .dice-tooltip {
              grid-template-rows: 1fr;
            }
          }
          .dice-tooltip {
            cursor: var(--cursor-default);
            .wrapper .reroll-container {
              display: flex;
              align-items: center;
              justify-content: center;
              .reroll-conscience.hidden {
                display: none;
              }
              .reroll-reserve.hidden {
                display: none;
              }
            }
          }
        }
        .dice-tooltip .dice-rolls .roll {
          background-image: none;
        }
        section.harmonique {
          li.roll.die {
            width: 48px;
            height: 48px;
            &.rerollable {
              cursor: var(--cursor-pointer);
            }
            &.max {
              // filter: sepia(0.9) hue-rotate(10deg) saturate(0.8) brightness(0.85);
            }
            &.min {
              // filter: sepia(0.7) hue-rotate(-20deg) saturate(2) brightness(1);
            }
            &.dice-selected {
              border: solid 2px darkgray;
            }
          }
        }
        section.atout {
          li.roll.die {
            width: 48px;
            height: 48px;
            cursor: var(--cursor-pointer);
            &.max {
              filter: none;
            }
            &.min {
              filter: none;
            }
            &.dice-selected {
              border: solid 2px darkgray;
            }
          }
        }
      }
    }
  }
}
