.penombre.roll-dialog {
  .window-content {
    .theme-dark & {
      background: #0b0a13e6;
      color: var(--color-textLight);
      span,
      label {
        color: var(--color-textLight);
      }
    }
    .theme-light & {
      background-color: var(--color-light-3);
      background-image: url("/systems/penombre/assets/ui/fond.webp");
      color: #222;
      span,
      label {
        color: #222;
      }
    }
  }
}

.penombre-roll-dialog {
  display: flex;
  flex-direction: column;

  .line-1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;

    .part-left-1 {
      fieldset {
        .harmonique {
          display: flex;
          justify-content: center;
          align-items: center;

          label {
            font-family: "Cattedrale";
            font-size: 1.8rem;
            width: 140px;
            padding-right: 10px;
          }

          input {
            width: 40px;
          }
        }
        .deMerveilleux {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .part-right-1 {
      display: flex;
      flex-direction: column;
      .form-group.difficulte {
        margin: 0 4px 10px 0;
      }
      fieldset {
        padding: 5px;
        .options {
          display: flex;
          justify-content: center;
          align-items: center;
          input {
            margin-right: 5px;
          }
        }
      }
      .form-group.effet-magique-niveau,
      .form-group.effet-magique-maitrise {
        display: none; // Masqué par défaut
        label {
          flex: 2;
        }
        .form-fields {
          select {
            flex: 1;
            height: 20px;
          }
        }
      }
    }
  }

  .line-2 {
    fieldset {
      padding: 0;

      .atouts {
        overflow-y: auto;

        .atout {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 20px;
          padding: 0 5px 0 5px;

          &:hover {
            cursor: pointer;
          }

          &:nth-child(even) {
            background-color: silver;
          }

          &.checked {
            background-color: @color-accent;
            color: white;
          }
        }
      }

      .options-total {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 5px;
        .bonus-total {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          padding-right: 10px;

          label {
            margin-right: 10px;
          }

          input {
            text-align: center;
            width: 40px;
          }
        }
      }
    }
  }

  .line-3 {
    display: flex;
    flex-direction: row;

    .part-left-3 {
      display: flex;
      flex-direction: column;
      width: 280px;
      margin-right: 10px;

      fieldset {
        padding-left: 0;
        padding-right: 0;
      }

      .formuleElements {
        display: flex;
        flex-direction: row;
        label {
          width: 50px;
          margin-right: 10px;
          text-align: right;
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
        input[type="text"]#autreBonus {
          width: 50px;
          margin-right: 10px;
          text-align: center;
        }
        input[type="text"]#formule {
          width: 140px;
          margin-right: 10px;
          text-align: center;
        }
      }

      .des-img {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        img {
          width: 75px;
          height: 75px;
        }
      }

      .rollMode {
        width: calc(100% - 10px);
      }
    }

    .part-right-3 {
      display: flex;
      flex-direction: column;

      .depensetotal {
        display: flex;
        align-items: center;

        label {
          width: 200px;
        }

        .form-fields {
          width: 40px;

          input {
            text-align: center;
            width: 40px;
          }
        }
      }
    }
  }
}
