.penombre {
  &.atout {
    .atout-content .standard-form {
      .logo-frame {
        display: flex;
        justify-content: space-between;

        .logo-img {
        width: 80px;
        }
        .name {
        width: calc(100% - 90px);
        }
      }
      .auto {
        // height: auto;
        min-height: 100%;
        .editor {
        min-height: 100%;
        }
      }
    }
  }

  &.maitrise {
    .maitrise-content .standard-form {
      .logo-frame {
        display: flex;
        justify-content: space-between;

        .logo-img {
          width: 80px;
        }
        .name {
          width: calc(100% - 90px);
        }
      }
      .auto {
        // height: auto;
        min-height: 100%;
        .editor {
        min-height: 100%;
        }
      }
    }
  }

  &.pouvoir {
    .pouvoir-content .standard-form {
      .logo-frame {
        display: flex;
        justify-content: space-between;
        .logo-img {
          width: 80px;
        }
        .name {
          width: calc(100% - 90px);
        }
      }
      .details {
        display: flex;
        justify-content: space-between;

        select[name="system.type"] {
          width: 100px;
        }
      }
      .auto {
        // height: auto;
        min-height: 100%;
        .editor {
        min-height: 100%;
        }
      }
    }
  }

  &.intrigue {
    .intrigue-content .standard-form {
      .logo-frame {
        display: flex;
        justify-content: space-between;

        .logo-img {
          width: 80px;
        }
        .name {
          width: calc(100% - 90px);
        }
      }
      .auto {
        // height: auto;
        min-height: 100%;
        .editor {
        min-height: 100%;
        }
      }
    }
  }

  &.action {
    .action-content .standard-form {
      .logo-frame {
        display: flex;
        justify-content: space-between;

        .logo-img {
          width: 80px;
        }
        .name {
          width: calc(100% - 90px);
        }
      }
      .auto {
        min-height: 100%;
        .editor {
        min-height: 100%;
        }
      }
    }
  }
}
