.penombre {
  &.atout {
    height: 100%;
    
    .atout-content .standard-form {
      height: 100%;
      .auto {
        overflow-y: auto;
        height: 100%;
        .editor {
            overflow-y: auto;
            min-height: 250px;
          .editor-container {
            min-height: 250px;
          }
        }
      }

      .logo-frame {
        display: flex;
        justify-content: space-between;

        .logo-img {
        width: 80px;
          &:hover {
            cursor: pointer;
          }
        }
        .name {
        width: calc(100% - 90px);
        }
      }
      /*
      .auto {
        // height: auto;
        min-height: 100%;
        .editor {
        min-height: 100%;
        }
      }
      */
    }
  }

  &.maitrise {
    height: 100%;

    .maitrise-content .standard-form {
      height: 100%;
      .auto {
        overflow-y: auto;
        height: 100%;
        .editor {
            overflow-y: auto;
            min-height: 250px;
          .editor-container {
            min-height: 250px;
          }
        }
      }

      .logo-frame {
        display: flex;
        justify-content: space-between;

        .logo-img {
        width: 80px;
          &:hover {
            cursor: pointer;
          }
        }
        .name {
          width: calc(100% - 90px);
        }
      }
    }
  }

  &.pouvoir {
    // height: 100%;

    .pouvoir-content .standard-form {
      height: 100%;
      .auto {
        overflow-y: auto;
        height: 100%;
        .editor {
            overflow-y: auto;
            min-height: 250px;
          .editor-container {
            min-height: 250px;
          }
        }
      }

      .logo-frame {
        display: flex;
        justify-content: space-between;
        
        .logo-img {
        width: 80px;
          &:hover {
            cursor: pointer;
          }
        }
        .name {
          width: calc(100% - 90px);
        }
      }
      .details {
        display: flex;
        justify-content: space-between;

        select[name="system.type"] {
          width: 100px;
        }
      }
    }
  }

  &.intrigue {
    height: 100%;

    .intrigue-content .standard-form {
      height: 100%;
      .auto {
        overflow-y: auto;
        height: 100%;
        .editor {
            overflow-y: auto;
            min-height: 250px;
          .editor-container {
            min-height: 250px;
          }
        }
      }
      .logo-frame {
        display: flex;
        justify-content: space-between;

        .logo-img {
        width: 80px;
          &:hover {
            cursor: pointer;
          }
        }
        .name {
          width: calc(100% - 90px);
        }
      }
    }
  }

  &.action {
    height: 100%;

    .action-content .standard-form {
      height: 100%;
      .auto {
        overflow-y: auto;
        height: 100%;
        .editor {
            overflow-y: auto;
            min-height: 250px;
          .editor-container {
            min-height: 250px;
          }
        }
      }

      .logo-frame {
        display: flex;
        justify-content: space-between;

        .logo-img {
        width: 80px;
          &:hover {
            cursor: pointer;
          }
        }
        .name {
          width: calc(100% - 90px);
        }
      }
    }
  }
}
