.penombre {
  .pouvoir {
    .pouvoir-content .standard-form .details {
      display: flex;
      justify-content: space-between;

      select[name="system.type"] {
        width: 100px;
      }
    }
  }
}
