@import "./elements/_index.less";


//: Variables CSS
:root {
--logo-standard: url('/systems/penombre/assets/ui/jeton_fiche.webp');
}

/* ---------------------------------------------
        Variables LESS
--------------------------------------------- */

// Couleurs du thème
@color-primary: #a56135; // Marron principal
@color-primary-clear: #a47c64; // Marron secondaire
@color-secondary: #56605b; // Gris
@color-accent: #917f35; // Doré
@background-light: #faeed6; // Fond clair
@background-dark: #2d1000; // fond frise sombre
@color-blue: #124b63; // Bleu

// Polices
@font-cattedrale: "Cattedrale";
@font-chocolate: "ChocoCovRainBold";
@font-notomusic: "NotoMusic";


// Tailles
@font-size-small: 13px;
@font-size-base: 17px;
@font-size-middle: 19px;
@font-size-midlarge: 25px;
@font-size-large: 29px;
@font-size-xlarge: 30px;
@font-size-2xlarge: 35px;

// Dimensions des éléments
@dice-size: 85px;
@case-size: 85px;
@small-case-size: 20px;
@border-radius: 6px;
@border-radius-small: 4px;
@border-radius-tiny: 2.5px;
@note-size: 55px;
@case-cle-size: 25px;

/* ---------------------------------------------
        Fonts
--------------------------------------------- */
@font-face {
  font-family: @font-cattedrale;
  src: url(/systems/penombre/fonts/cattedrale-regular.otf);
}

@font-face {
  font-family: @font-chocolate;
  src: url(/systems/penombre/fonts/chocolate-covered-raindrops/Chocolate%20Covered%20Raindrops%20BOLD.ttf);
}

@font-face {
  font-family: @font-notomusic;
  src: url(/systems/penombre/fonts/noto-music/NotoMusic-Regular.ttf);
}


/* ---------------------------------------------
        Mixins
--------------------------------------------- */

// Mixin pour le texte vertical
.vertical-text(@color: @color-primary) {
  writing-mode: vertical-rl;
  text-orientation: sideways-left;
  font-family: @font-cattedrale;
  color: @color;
  font-size: @font-size-base;
  text-align: center;
}

// Mixin pour les éléments de dé
.dice-element(@size: @dice-size) {
  width: @size;
  height: @size;
}

// Mixin pour les cases de mouvement
.case-de-mouve(@margin-left: 0px) {
  float: none;
  margin-left: @margin-left;
  width: @case-size;
  height: @case-size;
}

// Mixin pour les sections principales
.section-style() {
  float: none;
  flex-direction: column;
  border: 1px solid @color-primary;
  padding: 2px;
  border-radius: @border-radius;
}

.section-style-2() {
  // width: calc(100% - 5px);
  min-width: 635px;
  float: none;
  flex-direction: column;
  border: 1px solid @color-primary;
  padding: 2px;
  border-radius: @border-radius;
}

// Mixin pour les éléments de note
.note-element(@size: @note-size) {
  font-size: @size;
  font-family: @font-notomusic;
}

// Mixin pour les éléments de case note
.case-ronde-note-element(@size: @small-case-size) {
  width: @size;
  height: @size;
}

// Mixin pour les éléments de case cle note
.case-ronde-cle-element(@size: @case-cle-size) {
  width: @size;
  height: @size;
}



/* ---------------------------------------------
        Interface de Foundry VTT
--------------------------------------------- */

#pause > img {
  content: url("/systems/penombre/assets/ui/penombre_wheel.webp");
  height: 192px;
  width: 192px;
  top: -45px;
  left: calc(50% - 96px);
}

/* ---------------------------------------------
        Sidebar
--------------------------------------------- */

.icon.penombre {
  background-image: var(--logo-standard);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/* ---------------------------------------------
        Concerne les pages de journaux
--------------------------------------------- */
.journal-header {
  input {
    font-family: @font-cattedrale;
    // text-transform: uppercase;
  }
}

.journal-entry-page {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: @font-cattedrale;
    // text-transform: uppercase;
    color: @color-primary;
  }
}

/* ---------------------------------------------
        Concerne l'editor
--------------------------------------------- */
.penombre {
  .editor-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: @font-cattedrale;
      color: @color-primary;
    }
  }
}

@import "eminence.less";
@import "adversaire.less";
@import "items.less";

@import "reserve-collegiale.less";
@import "dialog.less";
@import "chat.less";
@import "sidebar.less";