@import "./elements/_index.less";

/* ---------------------------------------------
        Variables LESS
--------------------------------------------- */

// Couleurs du thème
@color-primary: #a56135; // Marron principal
@color-secondary: #56605b; // Gris
@color-accent: #917f35; // Doré
@background-light: #faeed6; // Fond clair
@background-dark: #2d1000; // fond frise sombre

// Polices
@font-cattedrale: "CattedraleDemo";
@font-chocolate: "ChocoCovRainBold";

// Tailles
@font-size-base: 17px;
@font-size-middle: 19px;
@font-size-midlarge: 25px;
@font-size-large: 29px;
@font-size-xlarge: 30px;
@font-size-2xlarge: 35px;


// Dimensions des éléments
@dice-size: 85px;
@case-size: 85px;
@border-radius: 6px;
@border-radius-small: 4px;

/* ---------------------------------------------
        Fonts
--------------------------------------------- */
@font-face {
  font-family: @font-cattedrale;
  src: url(/systems/penombre/fonts/Cattedrale-Demo/Cattedrale-Demo-Regular.ttf);
}

@font-face {
  font-family: @font-chocolate;
  src: url(/systems/penombre/fonts/chocolate-covered-raindrops/Chocolate%20Covered%20Raindrops%20BOLD.ttf);
}

/* ---------------------------------------------
        Mixins
--------------------------------------------- */

// Mixin pour le texte vertical
.vertical-text(@color: @color-primary) {
  writing-mode: vertical-rl;
  text-orientation: sideways-left;
  font-family: @font-cattedrale;
  color: @color;
  font-size: @font-size-base;
  text-align: center;
}

// Mixin pour les éléments de dé
.dice-element(@size: @dice-size) {
  width: @size;
  height: @size;
}

// Mixin pour les cases de mouvement
.case-de-mouve(@margin-left: 0px) {
  float: none;
  margin-left: @margin-left;
  width: @case-size;
  height: @case-size;
}

// Mixin pour les sections principales
.section-style() {
  float: none;
  flex-direction: column;
  border: 1px solid @color-primary;
  padding: 2px;
  border-radius: @border-radius;
}

.section-style-2() {
  // width: calc(100% - 5px);
  min-width: 635px;
  float: none;
  flex-direction: column;
  border: 1px solid @color-primary;
  padding: 2px;
  border-radius: @border-radius;
}

/* ---------------------------------------------
        Interface de Foundry VTT
--------------------------------------------- */

#pause > img {
  content: url("/systems/penombre/assets/ui/penombre_wheel.webp");
  height: 192px;
  width: 192px;
  top: -45px;
  left: calc(50% - 96px);
}

/* ---------------------------------------------
        Thème Clair
--------------------------------------------- */

/* ---------------------------------------------
          Thème Sombre
--------------------------------------------- */
body {
  &.theme-light {
    .penombre {
      &.eminence {

        .eminence-content {
          overflow: auto;
          // width: 100%;
          font-family: @font-cattedrale;
          color: @color-primary;
          font-size: @font-size-base;
          background-color: @background-light; /* Si et seulement si on est en mode clair (et pas sombre) de la fiche */
          clear: both;

          // Section timbre
          .eminence-timbre,
          .eminence-timbre-2 {
            min-height: 90px;
            display: table;

            .cadre-img {
              width: 100px;
              // height: 100px;
              float: left;
            }

            .datas-timbre {
              float: left;
              width: 525px;
              padding-left: 4px;
            }

            .logo-penombre {
              float: none;
              width: 223px;
              content: url("/systems/penombre/assets/ui/logo_penombre_sur_fond_clair.png");
            }

            .frise-penombre {
              float: left;
              width: 402px;
              content: url("/systems/penombre/assets/ui/frise_plus_grande_sur_fond_clair.png");
            }
          }

        }
      }
    }
  }

  &.theme-dark {
    .penombre {
      &.eminence {

        .eminence-content {
          overflow: auto;
          // width: 100%;
          font-family: @font-cattedrale;
          color: @color-primary;
          font-size: @font-size-base;
          clear: both;

          // Section timbre
          .eminence-timbre {
            min-height: 90px;
            background-color: @background-dark;
            display: table;

            .cadre-img {
              width: 100px;
              // height: 100px;
              float: left;
            }

            .datas-timbre {
              float: left;
              width: 525px;
              padding-left: 4px;
            }

            .logo-penombre {
              float: none;
              width: 223px;
              content: url("/systems/penombre/assets/ui/logo_penombre_sur_fond_sombre.png");
            }

            .frise-penombre {
              float: left;
              width: 402px;
              content: url("/systems/penombre/assets/ui/frise_plus_grande_sur_fond_sombre.png");
            }
          }

          // Section timbre
          .eminence-timbre-2 {
            min-height: 110px;
            display: table;

            .cadre-img {
              width: 100px;
              // height: 100px;
              float: left;
              border-radius: @border-radius; 
              background-color: @background-light;
            }

            .datas-timbre {
              float: left;
              width: 525px;
              padding-left: 4px;
            }

            .logo-penombre {
              float: none;
              width: 223px;
              content: url("/systems/penombre/assets/ui/logo_penombre_sur_fond_sombre.png");
            }

            .frise-penombre {
              float: left;
              width: 402px;
              content: url("/systems/penombre/assets/ui/frise_plus_grande_sur_fond_sombre.png");
            }
          }

        }
      }
    }
  }
}

.penombre {
/* ---------------------------------------------
        Eminence
--------------------------------------------- */

  &.eminence {
    .eminence-content {

      // Styles pour les inputs
      input,
      select {
        border-color: @color-primary;
        color: @color-secondary;
        font-family: @font-chocolate;
        font-size: @font-size-midlarge;
      }

      // Structure principale
      .eminence-main {
        width: 100%;
        display: table;
        clear: both;
      }

      // Colonnes
      .col-1 {
        width: 450px;
        float: left;
        display: table;
        clear: both;
      }

      .col-2 {
        width: 23px;
        float: left;
        height: 500px;
        padding: 0 3px;

        .grande-frise-verticale-1,
        .grande-frise-verticale-2,
        .grande-frise-verticale-3,
        .grande-frise-verticale-4,
        .grande-frise-verticale-5 {
          flex-direction: column;
        }
      }

      .col-3 {
        // width: 625px;
        margin-left: 473px;
        // width: 100%;
        min-width: 635px;
        // float: left;
      }

      .col-1-1 {
        width: 25px;
        float: left;
        transform: rotate(180deg);
      }

      .col-2-1 {
        width: 9px;
        float: left;
      }

      .col-3-1 {
        width: 408px;
        float: left;
        flex-direction: column;
        padding-left: 4px;
      }

      // Sections principales avec mixin
      .eminence-personnage,
      .eminence-harmoniques,
      .eminence-conscience{
        .section-style();
      }

      .eminence-pouvoirs,
      .eminence-atouts,
      .eminence-maitrises,
      .eminence-pouvoirs-2,
      .eminence-atouts-2,
      .eminence-maitrises-2,
      .eminence-timbre,
      .eminence-timbre-2,
      .eminence-recapitulatif {
        .section-style-2();
      }

      // Police des textes verticaux
      .text-vertical-personnage,
      .text-vertical-harmoniques,
      .text-vertical-conscience {
        font-size: @font-size-middle;
        writing-mode: vertical-rl;
        text-orientation: sideways-left;
      }

      // Hauteurs spécifiques
      .eminence-personnage {
        min-height: 165px;
        color: @color-primary;
        .logo-frame {
          display: table;
          float: left;
          justify-content: center;
          height: 152px;
          width: 150px;
          padding: 1px;

          .logo-img {
            border-radius: @border-radius;
          }
        }

        .data {
          float: left;
          width: 254px;
          clear: right;
        }
      }

      .eminence-harmoniques {
        min-height: 350px;
      }

      .eminence-conscience-locked {
        min-height: 725px;

      }

      .eminence-conscience-unlocked {
        min-height: 685px;

      }

      /*
      // Styles de texte avec classes utilitaires
      .text {
        .font-doree {
          color: @color-accent;
        }

        .font-grise {
          color: @color-secondary;
        }

        .font-marron {
          color: @color-primary;
        }

        .font-chocolate {
          font-family: @font-chocolate;
        }

        .font-cattedrale {
          font-family: @font-cattedrale;
        }
      }
      */

      // Section conscience
      .eminence-conscience {
        color: @color-accent;

        // Jetons
        .div-jetons {
          width: 400px;
          display: grid;
          grid-template-columns: repeat(5, 1fr); /* 5 colonnes égales */
          gap: 10px;
          padding: 10px;

          img.dropshadow-actif,
          img.dropshadow-inactif {
            -webkit-filter: drop-shadow(5px 5px 5px #666666);
            filter: drop-shadow(5px 5px 5px #666666);

            &:hover {
              cursor: pointer;
            }
          }

          .jeton {
            text-align: center;
          }
        }

        .cadre-complications-2 {
          display: table;
          width: 402px;
          border: 1px solid #917f35;
          border-radius: @border-radius-small;
          padding: 2px;
          padding-left: 10px;

          // Cases à cocher
          .div-cases {
            display: flex;
            width: 390px;
            // justify-content: space-between;

            label {
              float: left;
            }

            .div-descriptions {
              input {
                width: 320px;
              }
            }

            .images-cases {
              display: flex;
              width: 250px;
              height: 20px;
              float: left;
              flex-direction: row;
              justify-content: flex-end;

              .complication-case {
                float: left;
                width: 20px;
                height: 20px;

                &:hover {
                  cursor: pointer;
                }

              }
            }
          }
        }

        .cadre-complications {
          display: table;
          width: 402px;
          border: 1px solid #917f35;
          border-radius: @border-radius-small;
          padding: 2px;
          padding-left: 10px;

          label {
            width: 402px;
            float: none;
            clear: both;
          }

          .ligne-complication {
            display: flex;
            clear: both;

            .div-descriptions-2 {
              input {
                width: 600px;
              }
            }

            .div-descriptions {
              float: left;
              width: 320px;
            }

            // Cases à cocher
            .div-cases {
              float: left;
              width: 70px;

              .images-cases {
                display: flex;
                width: 70px;
                height: 20px;
                flex-direction: row;
                justify-content: flex-end;

                .complication-case {
                  float: left;
                  width: 20px;
                  height: 20px;
                }
              }
            }
          }
        }

        .note-jetons {
          text-align: center;
          color: @color-secondary;
        }
      }

      // Section harmoniques
      .eminence-harmoniques {
        color: @color-secondary;
        .click:hover {
          cursor: pointer;
          -webkit-filter: drop-shadow(0px 0px 6px #af010a);
          filter: drop-shadow(0px 0px 6px #af010a);
        }
        table {
          tr {
            &:nth-child(odd),
            &:nth-child(even) {
              background-color: transparent;
            }
          }
        }

        .case-de {
          width: @case-size;
        }

        .col-3-1 {
          .rang-2-2 {
            float: none;
            width: 405px;
          }
        }

        /*
        .editer-harmoniques {
          // width: 405px;
          font-size: @font-size-xlarge;
        }
        */

        // Cases de mouvement avec mixin
        .case-de-mouve-1 {
          .case-de-mouve(40px);

          .editer-harmoniques {
            // width: 405px;
            font-size: @font-size-xlarge;
          }

        }

        .case-de-mouve-2 {
          .case-de-mouve(-40px);

          .editer-harmoniques {
            // width: 405px;
            font-size: @font-size-xlarge;
        }

        }

        .case-de-mouve-3 {
          .case-de-mouve(10px);

        .editer-harmoniques {
          // width: 405px;
          font-size: @font-size-xlarge;
        }

        }

        .case-de-mouve-4 {
          .case-de-mouve(-5px);

          .editer-harmoniques {
            // width: 405px;
            font-size: @font-size-xlarge;
          }

        }

        .case-de-mouve-5 {
          .case-de-mouve(85px);

          .editer-harmoniques {
            // width: 405px;
            font-size: @font-size-xlarge;
          }

        }

        .flexible {
          position: relative;
          display: flex;
        }

        .absolue {
          position: absolute;
          z-index: 5;
        }

        .de-d-ame-saisie,
        .de-d-esprit-saisie,
        .de-d-etincelle-saisie,
        .de-de-nature-saisie,
        .de-de-nuit-saisie {
          margin-top: 25px;
          margin-left: 10px;
          width: 70px;
          font-family: @font-chocolate;
        }

        // Tailles des dés avec mixin
        .de-ame,
        .de-esprit,
        .de-etincelle,
        .de-nature,
        .de-nuit {
          margin-left: 3px;
          margin-top: -2px;
          .dice-element();
        }

        // Textes gros
        .text-gros-1,
        .text-gros-2,
        .text-gros-3,
        .text-gros-4,
        .text-gros-5 {
          float: none;
          color: @color-secondary;
          font-size: @font-size-xlarge;
        }
      }

      // Section Pouvoirs
      .eminence-pouvoirs {
        min-height: 255px;
        color: @color-secondary;
        text-align: center;
      }

      .eminence-pouvoirs-2 {
        min-height: 400px;
        color: @color-secondary;
        text-align: center;
      }

      .eminence-pouvoirs,
      .eminence-pouvoirs-2 {

        .titre-section-pouvoirs {
          font-size: @font-size-2xlarge;
          float: none;
        }

        .content {
          .potentiel {
            text-align: center;

            .div-potentiel {
              position: relative;
              float: left;
              text-align: center;
              width: 100px;
              height: 200px;

              .img-potentiel {
                width: 100px;
                height: 100px;
              }
            
              .absolue {
                position: absolute;
                z-index: 5;
              }

              .val-potentiel-saisie {
                margin-left: -22.5px;
                margin-top: 42px;
                width: 55px;
                z-index: 10;
                font-size: @font-size-xlarge;
              }

              .val-potentiel {
                margin-left: 41.5px;
                margin-top: 42px;
                text-align: center;
                font-size: @font-size-large;
              }

              span {
                margin-left: -42px;
                margin-top: 90px;
                color: @color-primary;
                font-size: @font-size-large;
              }
            }
          }

          .pouvoirs {
            // float: left;
            margin-left: 100px;
            width: calc(100% - 103px);
            min-height: 145px;
            border: 1px solid #917f35;
            border-radius: @border-radius-small;
            padding: 2px;
          }

          .pouvoirs-2 {
            // float: left;
            margin-left: 100px;
            width: calc(100% - 103px);
            min-height: 290px;
            border: 1px solid #917f35;
            border-radius: @border-radius-small;
            padding: 2px;
          }

          .pouvoirs,
          .pouvoirs-2 {

            .ligne-pouvoir {
              display: flex;
              align-items: center;
              justify-content: space-between;
            }
          }
        }
      }

      // Section Atouts
      .eminence-atouts {
        min-height: 255px;
        color: @color-secondary;
        text-align: center;
      }

      .eminence-atouts-2 {
        min-height: 400px;
        color: @color-secondary;
        text-align: center;
      }

      .eminence-atouts,
      .eminence-atouts-2 {

        .titre-section-atouts {
          font-size: @font-size-2xlarge;
          float: none;
        }

        .content {
          .potentiel {
            text-align: center;

            .div-potentiel {
              position: relative;
              float: left;
              text-align: center;
              width: 100px;
              height: 200px;

              .img-potentiel {
                width: 100px;
                height: 100px;
              }
            
              .absolue {
                position: absolute;
                z-index: 5;
              }

              .val-potentiel-saisie {
                margin-left: -22.5px;
                margin-top: 42px;
                width: 55px;
                z-index: 10;
                font-size: @font-size-xlarge;
              }

              .val-potentiel {
                margin-left: 41.5px;
                margin-top: 42px;
                text-align: center;
                font-size: @font-size-large;
              }

              span {
                margin-left: -42px;
                margin-top: 90px;
                color: @color-primary;
                font-size: @font-size-large;
              }
            }
          }

          .atouts {
            // float: left;
            margin-left: 100px;
            width: calc(100% - 103px);
            min-height: 145px;
            border: 1px solid #917f35;
            border-radius: @border-radius-small;
            padding: 2px;
          }

          .atouts-2 {
            // float: left;
            margin-left: 100px;
            width: (100% - 103px);
            min-height: 290px;
            border: 1px solid #917f35;
            border-radius: @border-radius-small;
            padding: 2px;
          }

        }
      }

      // Section Maîtrises
      .eminence-maitrises {
        min-height: 255px;
        color: @color-secondary;
        text-align: center;
      }

      .eminence-maitrises-2 {
        min-height: 400px;
        color: @color-secondary;
        text-align: center;
      }

      .eminence-maitrises,
      .eminence-maitrises-2 {

        .titre-section-maitrises {
          font-size: @font-size-2xlarge;
          float: none;
        }

        .content {
          .potentiel {
            text-align: center;

            .div-potentiel {
              position: relative;
              float: left;
              text-align: center;
              width: 100px;
              height: 200px;

              .img-potentiel {
                width: 100px;
                height: 100px;
              }
            
              .absolue {
                position: absolute;
                z-index: 5;
              }

              .val-potentiel-saisie {
                margin-left: -22.5px;
                margin-top: 42px;
                width: 55px;
                z-index: 10;
                font-size: @font-size-xlarge;
              }

              .val-potentiel {
                margin-left: 41.5px;
                margin-top: 42px;
                text-align: center;
                font-size: @font-size-large;
              }

              span {
                margin-left: -42px;
                margin-top: 90px;
                color: @color-primary;
                font-size: @font-size-large;
              }
            }
          }

          .maitrises {
            // float: left;
            margin-left: 100px;
            width: calc(100% - 103px);
            min-height: 145px;
            border: 1px solid #917f35;
            border-radius: @border-radius-small;
            padding: 2px;
          }

          .maitrises-2 {
            // float: left;
            margin-left: 100px;
            width: calc(100% - 103px);
            min-height: 290px;
            border: 1px solid #917f35;
            border-radius: @border-radius-small;
            padding: 2px;
          }

        }
      }

      .eminence-recapitulatif {
        min-height: 180px;
        width: 633px;
        color: @color-secondary;
        text-align: center;

        .content {

          .tableau {
            display: table;

            .div-gauche {
              float: left;
              height: 100px;
              width: 477px;

              .img-gauche {
                border-top-left-radius: @border-radius-small;
                border-bottom-left-radius: @border-radius-small;
              }
            }

            .div-droite {
              float: left;
              height: 100px;
              width: 152px;
              padding-left: 33px;

              .img-droite {
                border-top-right-radius: @border-radius-small;
                border-bottom-right-radius: @border-radius-small;
              }
            }
          }
        }
      }

    }
  }
}

@import "reserve-collegiale.less";