#penombre-reserve-collegiale {
  // Jetons
  .jetons {
    width: 400px;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 colonnes égales */
    gap: 10px;
    padding: 10px;

    img.dropshadow-actif,
    img.dropshadow-inactif {
      -webkit-filter: drop-shadow(5px 5px 5px #666666);
      filter: drop-shadow(5px 5px 5px #666666);

      &:hover {
        cursor: pointer;
      }
    }

    .jeton {
      text-align: center;
    }
  }
}
