{{!log "eminence" this}}
<section class="eminence-main standard-form">

  <div class="col-1">
    <!-- Personnage -->
    {{> "systems/penombre/templates/eminence/partials/personnage.hbs" }}

    <!-- Harmoniques -->
    {{> "systems/penombre/templates/eminence/partials/harmoniques.hbs" }}

    <!-- Conscience -->
    {{> "systems/penombre/templates/eminence/partials/conscience.hbs" }}
  </div>

  <div class="col-2 frise-verticale">
    <div class="grande-frise-verticale-1">
      <img class="" src="/systems/penombre/assets/ui/marron.png" alt="|" />
    </div>
    <div class="grande-frise-verticale-2">
      <img class="" src="/systems/penombre/assets/ui/marron.png" alt="|" />
    </div>
    <div class="grande-frise-verticale-3">
      <img class="" src="/systems/penombre/assets/ui/marron.png" alt="|" />
    </div>
    <div class="grande-frise-verticale-4">
      <img class="" src="/systems/penombre/assets/ui/marron.png" alt="|" />
    </div>
      <div class="grande-frise-verticale-5">
      <img class="" src="/systems/penombre/assets/ui/marron.png" alt="|" />
    </div>

  </div>

  <div class="col-3">
    <!-- Timbre -->
    {{> "systems/penombre/templates/eminence/partials/timbre.hbs" }}

    <!-- Pouvoirs -->
    {{> "systems/penombre/templates/eminence/partials/pouvoirs.hbs" }}

    <!-- Atouts -->
    {{> "systems/penombre/templates/eminence/partials/atouts.hbs" }}

    <!-- Maitrises magiques -->
    {{> "systems/penombre/templates/eminence/partials/maitrises.hbs" }}

    {{#unless isStyleJeuAvance}}
        <!-- Récapitulatif -->
      {{> "systems/penombre/templates/eminence/partials/recapitulatif.hbs" }}
    {{/unless}}
  </div>
  
</section>