{{log "eminence" this}}
<section class="eminence-main standard-form">

  <!-- Personnage -->
  {{> "systems/penombre/templates/eminence/partials/personnage.hbs" }}

  <!-- Harmoniques -->
  {{> "systems/penombre/templates/eminence/partials/harmoniques.hbs" }}

  <!-- Conscience -->
  {{> "systems/penombre/templates/eminence/partials/conscience.hbs" }}

  <!-- Timbre -->
  {{> "systems/penombre/templates/eminence/partials/timbre.hbs" }}

  <!-- Pouvoirs -->
  {{> "systems/penombre/templates/eminence/partials/pouvoirs.hbs" }}

  <!-- Atouts -->
  {{> "systems/penombre/templates/eminence/partials/atouts.hbs" }}

  <!-- Maitrises magiques -->
  {{> "systems/penombre/templates/eminence/partials/maitrises.hbs" }}
  
</section>